<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SignUp page</title>
    <link rel="stylesheet" href="">
  </head>
  <body>
      <h3>Sign Up</h3>
      <form action="/signup" method="post">
          {% csrf_token %}
          <div>
            {% for message in messages %}
            <h3>{{message}}</h3>
            {% endfor %}
          </div>


          <label for="">Username</label>
          <input type="text" id="username" name="username" placeholder="Create username" Required>
          <br>
          <label for="">First name</label>
          <input type="text" id="fname" name="fname" placeholder="first name" Required>
          <br>
          <label for="">Last name</label>
          <input type="text" id="lname" name="lname" placeholder="Create lname" Required>
          <br>
          <label for="">Email Id</label>
          <input type="email" id="email" name="email" placeholder="Create email" Required>
          <br>
          <label for="">Password</label>
          <input type="password" id="pass1" name="pass1" placeholder="Create password" Required>
          <br>
          <button type="submit">Sign Up</button>


      </form>
	<script src=""></script>
  </body>
</html>